<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/home-layout}">

<!-- Video Grid -->
    <div layout:fragment="content"  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">

        <!-- Video Card (repeated 12 times) -->
        <article class="flex flex-col gap-2" th:each="video : ${videos}">
            <div class="aspect-video bg-gray-100 dark:bg-zinc-800 rounded-lg overflow-hidden">
                <video  th:src="${video.video}" controls alt="Video" class="w-full h-full object-cover" />
            </div>
            <div class="flex gap-2">
                <div class="flex-shrink-0">
                    <div class="w-9 h-9 rounded-full bg-gray-100 dark:bg-zinc-800 overflow-hidden">
                        <img  th:src="${video.videoThumnail}" alt="Channel avatar" class="w-full h-full object-cover">
                    </div>
                </div>
                <div class="flex-1">
                    <h3 class="font-medium line-clamp-2 dark:text-white" th:text="${video.title}">
                        Amazing Video Title That Might Be Long and Span Multiple Lines
                    </h3>
<!--                    <p class="text-sm text-gray-600 dark:text-zinc-400" >Channel Name</p>-->
<!--                    <p class="text-sm text-gray-600 dark:text-zinc-400" th:text="${video.channelName}"></p>-->
                </div>
            </div>
        </article>
        <!-- Repeat the article element 11 more times for a total of 12 videos -->
    </div>

</html>